@font-face {
  font-family: "iconfont"; /* Project id 5174864 */
  src: url('iconfont.woff2?t=1778408374559') format('woff2'),
       url('iconfont.woff?t=1778408374559') format('woff'),
       url('iconfont.ttf?t=1778408374559') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e8a0";
}

.icon-feiji:before {
  content: "\e632";
}

.icon-shezhi:before {
  content: "\e633";
}

.icon-icon_myessay:before {
  content: "\e676";
}

.icon-liuyanzhi:before {
  content: "\e61d";
}

.icon-gengduo:before {
  content: "\e635";
}

.icon-shezhi1:before {
  content: "\e713";
}

.icon-fenlei:before {
  content: "\e67b";
}

.icon-liuyanmoban:before {
  content: "\e64b";
}

.icon--technology-:before {
  content: "\e63a";
}

.icon-projectPro:before {
  content: "\e736";
}

.icon-yuyin:before {
  content: "\e6ec";
}

.icon-RectangleCopy:before {
  content: "\e6a4";
}

.icon-RectangleCopy1:before {
  content: "\e6a5";
}

.icon-RectangleCopy2:before {
  content: "\e6a6";
}

.icon-RectangleCopy3:before {
  content: "\e6a7";
}

.icon-RectangleCopy4:before {
  content: "\e6a8";
}

.icon-RectangleCopy5:before {
  content: "\e6a9";
}

.icon-RectangleCopy6:before {
  content: "\e6aa";
}

.icon-RectangleCopy7:before {
  content: "\e6ab";
}

.icon-RectangleCopy8:before {
  content: "\e6ac";
}

.icon-RectangleCopy9:before {
  content: "\e6ad";
}

.icon-RectangleCopy10:before {
  content: "\e6ae";
}

.icon-RectangleCopy11:before {
  content: "\e6b2";
}

.icon-shezhi2:before {
  content: "\e86d";
}

.icon-liuyan:before {
  content: "\e601";
}

.icon-icon_essay_edit:before {
  content: "\e634";
}

.icon-project:before {
  content: "\e65f";
}

.icon-yuyin1:before {
  content: "\e62a";
}

.icon-zongshu:before {
  content: "\e62d";
}

.icon-project1:before {
  content: "\eb5a";
}

.icon-fenlei1:before {
  content: "\e975";
}

.icon-redu:before {
  content: "\e67e";
}

.icon-home1:before {
  content: "\e600";
}

.icon-home2:before {
  content: "\e602";
}

.icon-guidang:before {
  content: "\eca6";
}

.icon-project_type_abat-project:before {
  content: "\e7fe";
}

.icon-show_technology:before {
  content: "\e603";
}

.icon-a-NFCTechnology:before {
  content: "\e60b";
}

.icon-a-ziyuan40:before {
  content: "\e60c";
}

.icon-shuben:before {
  content: "\e6ca";
}

.icon-shuben1:before {
  content: "\e618";
}

.icon-a-199_bianji-24:before {
  content: "\e967";
}

.icon-a-201_biji:before {
  content: "\e96a";
}

.icon-a-201_tupian:before {
  content: "\e96b";
}

.icon-a-201_paishe:before {
  content: "\e96c";
}

.icon-a-201_wendang:before {
  content: "\e96d";
}

.icon-PDFqianming:before {
  content: "\eaa0";
}

.icon-a-041_shezhi:before {
  content: "\e6be";
}

.icon-a-041_xihuan:before {
  content: "\e6bf";
}

.icon-a-041_zhuye:before {
  content: "\e6c0";
}

